<a href="https://colab.research.google.com/github/A-l-E-v/ML-Engineer/blob/main/2_5_Agg_conspect.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Аггрегации

В ходе этого урока мы научимся делать аггрегирующие операции. Агрегация относится к таким операциям, когда больший набор строк свёртывается в меньший. Типичные агрегатные функции - COUNT, MIN, MAX, SUM и MEAN

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("../data/orig/orig_df.csv")
df

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
158561,235768,天罚-二战全纪实,1,100,zh,0,0.000,NaN,False,NaN,...,NaN,"Documentary, War & Politics",NaN,zh,NaN,CN,普通话,NaN,NaN,0
158562,235767,我们这一摊,1,13,zh,0,0.000,NaN,False,NaN,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158563,235766,山里来了熊孩子,1,13,zh,0,0.000,NaN,False,/qAdXlecuPyg2jb2GbRXzHEUcpmw.jpg,...,NaN,Reality,NaN,NaN,NaN,CN,NaN,NaN,NaN,0
158564,235765,开心超人联盟之勇敢之城1——棋兽传奇,1,6,zh,0,0.000,NaN,False,/ksuAmIZRkBMshJtkHtMDwyYLmDh.jpg,...,NaN,"Animation, Kids",NaN,NaN,"iQiyi, Youku, Mango TV, Tencent Video, Aniworl...",CN,NaN,广东明星创意动画有限公司,NaN,0
158565,38212,Anhoniyon Ka Andhera,0,0,en,0,0.000,Anhoniyon Ka Andhera is a weekly Indian televi...,False,NaN,...,NaN,NaN,NaN,en,Colors,IO,English,NaN,NaN,60

## Самые частые методы

Рассмотри самое простое и при этом часто используемое.

In [ ]:
# максимум
df['number_of_seasons'].max()

240

In [ ]:
# минимум
df['number_of_episodes'].min()

0

Это можно применять не только к числовым столбцам, но и к строковым. В таком случае, сортировка и поиск "максимального" будет проводиться по алвафиту.

In [ ]:
# текстовые столбцы
df['original_language'].min() , df['original_language'].max()

('aa', 'zu')

In [ ]:
# сумма, среднее и медианное значение
df['vote_count'].sum(), df['vote_count'].mean(), df['vote_count'].median()

(2242805, 14.14429953457866, 0.0)

Своего рода аггргиирующей функцией можно считать unique, которая является обратной для duolicated,  и находит только уникальные значения.

In [ ]:
df['name'].unique()

In [ ]:
# длину для результата можно посмотреть двумя способами
df['name'].unique().shape, len(df['name'].unique())

((149754,), 149754)

Так же существует операция nunique, которая находит **количество** уникальных значений в столбце

In [ ]:
# выведем все уникальные значения для number_of_seasons
df['number_of_seasons'].unique()

array([  8,   3,   4,  11,   6,   7,   2,   5,   1,   9,  12,  19,  35,
        20,  10,  15,  21,  22,  26,  16,  24,  14,  13,  25,  30,  33,
        27,  17,  29,  49,  45,  31,  23,  18,  53,  39,   0,  72,  51,
        32,  37,  40,  36,  54,  50,  64,  34,  38,  41,  71,  28,  66,
        56,  47,  42,  60, 240,  68,  59, 188,  43,  67,  52,  74,  46,
        80,  73,  61,  57,  44,  48,  84,  75,  63,  58,  62,  55, 134,
       101,  70,  95, 111])

In [ ]:
# найдем их количсетво вручную
len(df['number_of_seasons'].unique())

82

In [ ]:
# а теперь с помощью nunique
df['number_of_seasons'].nunique()

82

## Аггрегации

Теперь перейдем к более сложным вещам. Начнем с value_counts, которая находит количество повторений для каждого элемента в столбце

In [ ]:
df['number_of_seasons'].value_counts()

1      104943
0       22378
2       14015
3        5875
4        3194
        ...
134         1
101         1
70          1
95          1
111         1
Name: number_of_seasons, Length: 82, dtype: int64

Видим, что чаще всего сериалы имеют от 1 до 4 сезонов, что логично. 0 - означает что либо это не сериал, а фильм, либо какой то сбой в данных. В реальной рабочей задаче - это надо было бы дополнительно изучить.

Столбец number_of_seasons стал высутпать в роли индексов, поэтому, если мы попробуем прочесть 0 эелемент, то получим не первую строку, а строку где number_of_seasons равно 0

In [ ]:
df['number_of_seasons'].value_counts()[0]

22378

In [ ]:
# при необходимости индексы можно сбросить
df['number_of_seasons'].value_counts().reset_index()

0     104943
1      22378
2      14015
3       5875
4       3194
       ...
77         1
78         1
79         1
80         1
81         1
Name: number_of_seasons, Length: 82, dtype: int64

In [ ]:
# или даже удалить
df['number_of_seasons'].value_counts().reset_index(drop=True)

0     104943
1      22378
2      14015
3       5875
4       3194
       ...
77         1
78         1
79         1
80         1
81         1
Name: number_of_seasons, Length: 82, dtype: int64

In [ ]:
# сбросим индексы, и переименуем столбцы
cnt = df['number_of_seasons'].value_counts().reset_index()
cnt.columns = ['number_of_seasons', 'count']
cnt

    number_of_seasons   count
0                   1  104943
1                   0   22378
2                   2   14015
3                   3    5875
4                   4    3194
..                ...     ...
77                134       1
78                101       1
79                 70       1
80                 95       1
81                111       1

[82 rows x 2 columns]

Если мы хотим сделать боле есложные вычисления, то необходимо применить связку groupby-agg. Внутри groupby указываем поля, по которым будем проводить аггрегацию, а в agg указываем операции и столбцы, к которым эти операции будут применены.
Разрешенные самые частые операции: sum, max, min, mean, median, nunique, count.  
Давайте посчитаем количество сериалов, в разбивке по количеству сезонов, а также узнаем сколько всего было снято серий для таких категорий.

In [ ]:
df.groupby('number_of_seasons').agg(cnt=("id", "count"), my_sum=("number_of_episodes", "sum"))

                      cnt   my_sum
number_of_seasons
0                   22378       24
1                  104943  1531962
2                   14015   412372
3                    5875   265705
4                    3194   203074
...                   ...      ...
101                     1      113
111                     1      101
134                     1      282
188                     1     1302
240                     1      804

[82 rows x 2 columns]

группировать можно и по нескольким столбцам

In [ ]:
df.groupby(['origin_country', 'languages']).agg(max_vote_count=("vote_count", "max"), min_vote=("vote_average", "min"))

                          max_vote_count  min_vote
origin_country languages
AE             am                      1       0.0
               ar                     25       0.0
               ar, en                 11       5.7
               en                      8       0.0
AE, BH, KW, SA am                      3       7.7
...                                  ...       ...
ZA, MU         en                      1       2.0
ZA, US         en                      5       6.6
ZM             en                      0       0.0
               ny, en                  1      10.0
ZW             ru                      1       7.0

[2620 rows x 2 columns]

In [ ]:
# для удобства результаты можно отсортировать
df.groupby(['networks']).agg(mean_time=("episode_run_time", "mean")).sort_values('mean_time', ascending=False)

                                                    mean_time
networks
Zee Marathi                                            6032.0
YouTube, La 2                                          2280.0
Свастик Продакшнс                                      2016.0
Canal 13, Chilevisión, La Red, Televisión Nacio...     1500.0
Al Araby, Syria TV, METAFORA                           1200.0
...                                                       ...
RTL9                                                      0.0
RTL9, Crime District                                      0.0
RTLup                                                     0.0
RTM1                                                      0.0
KFVE                                                      0.0

[8036 rows x 1 columns]

In [ ]:
# а пперед этим еще и отфильтровать
df.query(' "US" in origin_country').groupby(['networks']).agg(mean_time=("episode_run_time", "mean")).sort_values('mean_time', ascending=False)

                           mean_time
networks
Vivendi Entertainment         342.00
DZ Distribution LLC           326.00
Prime Video, iTunes Store     275.00
ESPN2, ESPN                   240.00
YES Network                   208.75
...                              ...
NBC, WWE Network                0.00
Multishow                       0.00
Mondo Media                     0.00
Mindvalley                      0.00
สถานีโทรทัศน์ช่อง 3             0.00

[1324 rows x 1 columns]

In [ ]:
# для удобства чтения длиннные записи лучше разбить по строкам
(df
 .query(' "US" in origin_country')
 .groupby(['networks'])
 .agg(mean_time=("episode_run_time", "mean"))
 .sort_values('mean_time', ascending=False))

                           mean_time
networks
Vivendi Entertainment         342.00
DZ Distribution LLC           326.00
Prime Video, iTunes Store     275.00
ESPN2, ESPN                   240.00
YES Network                   208.75
...                              ...
NBC, WWE Network                0.00
Multishow                       0.00
Mondo Media                     0.00
Mindvalley                      0.00
สถานีโทรทัศน์ช่อง 3             0.00

[1324 rows x 1 columns]

## Сводные таблицы

Рассмотрим другой способ аггрегации - через сводные таблицы.

In [ ]:
df.head()

,id,name,number_of_seasons,number_of_episodes,original_language,vote_count,vote_average,overview,adult,backdrop_path,...,tagline,genres,created_by,languages,networks,origin_country,spoken_languages,production_companies,production_countries,episode_run_time
0,1399,Game of Thrones,8,73,en,21857,8.442,Seven noble families fight for control of the ...,False,/2OMB0ynKlyIenMJWI2Dy9IWT4c.jpg,...,Winter Is Coming,"Sci-Fi & Fantasy, Drama, Action & Adventure","David Benioff, D.B. Weiss",en,HBO,US,English,"Revolution Sun Studios, Television 360, Genera...","United Kingdom, United States of America",0
1,71446,Money Heist,3,41,es,17836,8.257,"To carry out the biggest heist in history, a m...",False,/gFZriCkpJYsApPZEF3jhxL4yLzG.jpg,...,The perfect robbery.,"Crime, Drama",Álex Pina,es,"Netflix, Antena 3",ES,Español,Vancouver Media,Spain,70
2,66732,Stranger Things,4,34,en,16161,8.624,"When a young boy vanishes, a small town uncove...",False,/2MaumbgBlW1NoPo3ZJO38A6v7OS.jpg,...,Every ending has a beginning.,"Drama, Sci-Fi & Fantasy, Mystery","Matt Duffer, Ross Duffer",en,Netflix,US,English,"21 Laps Entertainment, Monkey Massacre Product...",United States of America,0
3,1402,The Walking Dead,11,177,en,15432,8.121,Sheriff's deputy Rick Grimes awakens from a co...,False,/x4salpjB11umlUOltfNvSSrjSXm.jpg,...,Fight the dead. Fear the living.,"Action & Adventure, Drama, Sci-Fi & Fantasy",Frank Darabont,en,AMC,US,English,"AMC Studios, Circle of Confusion, Valhalla Mot...",United States of America,42
4,63174,Lucifer,6,93,en,13870,8.486,"Bored and unhappy as the Lord of Hell, Lucifer...",False,/aDBRtunw49UF4XmqfyNuD9nlYIu.jpg,...,It's good to be bad.,"Crime, Sci-Fi & Fantasy",Tom Kapinos,en,"FOX, Netflix",US,English,"Warner Bros. Television, DC Entertainment, Jer...",United States of America,45

In [ ]:
# проведем группировку по статус и типу и найдем сумарное кличетво эпизодов
df.groupby(['status', 'type']).agg(sum_season=("number_of_seasons", "sum"))

                              sum_season
status           type
Canceled         Documentary         732
                 Miniseries           47
                 News                278
                 Reality            1871
                 Scripted           5172
                 Talk Show          1118
                 Video                20
Ended            Documentary        8982
                 Miniseries         9098
                 News                286
                 Reality            5433
                 Scripted          82161
                 Talk Show          2479
                 Video              1231
In Production    Documentary         320
                 Miniseries          191
                 News                118
                 Reality             274
                 Scripted           1898
                 Talk Show           285
                 Video                66
Pilot            Documentary          15
                 Miniseries            8
                 News                  1
                 Reality              14
                 Scripted            170
                 Talk Show             2
                 Video                 2
Planned          Documentary          39
                 Miniseries           63
                 News                  1
                 Reality              20
                 Scripted            386
                 Talk Show             3
                 Video                 4
Returning Series Documentary       15215
                 Miniseries         1343
                 News               3348
                 Reality           20075
                 Scripted          77523
                 Talk Show          7431
                 Video               712

In [ ]:
# а теперь тоже самое, но через pivot_table
df.pivot_table(index='status', columns='type', values='number_of_seasons', aggfunc='sum')

type,Documentary,Miniseries,News,Reality,Scripted,Talk Show,Video
status,,,,,,,
Canceled,732,47,278,1871,5172,1118,20
Ended,8982,9098,286,5433,82161,2479,1231
In Production,320,191,118,274,1898,285,66
Pilot,15,8,1,14,170,2,2
Planned,39,63,1,20,386,3,4
Returning Series,15215,1343,3348,20075,77523,7431,712

pivot_table работает следуюим образом: задаем значения из первой колонки как index, значения из второй - как columns, на пересечении считается функция aggfunc для столбца values.

In [ ]:
# тоже самое, если применить метод разветывания unstack к groupby
df.groupby(['status', 'type']).agg(sum_season=("number_of_seasons", "sum")).unstack(0)

            sum_season
status        Canceled  Ended In Production Pilot Planned Returning Series
type
Documentary        732   8982           320    15      39            15215
Miniseries          47   9098           191     8      63             1343
News               278    286           118     1       1             3348
Reality           1871   5433           274    14      20            20075
Scripted          5172  82161          1898   170     386            77523
Talk Show         1118   2479           285     2       3             7431
Video               20   1231            66     2       4              712

In [ ]:
да# тоже самое в транспонированном виде
df.groupby(['status', 'type']).agg(sum_season=("number_of_seasons", "sum")).unstack(0).T

type                         Documentary  Miniseries  News  Reality  Scripted  \
           status
sum_season Canceled                  732          47   278     1871      5172
           Ended                    8982        9098   286     5433     82161
           In Production             320         191   118      274      1898
           Pilot                      15           8     1       14       170
           Planned                    39          63     1       20       386
           Returning Series        15215        1343  3348    20075     77523

type                         Talk Show  Video
           status
sum_season Canceled               1118     20
           Ended                  2479   1231
           In Production           285     66
           Pilot                     2      2
           Planned                   3      4
           Returning Series       7431    712

Такой подход не всегда годится для решения задачи.

In [ ]:
df.groupby(['networks', 'genres']).agg(sum_season=("number_of_seasons", "sum"))

                                                      sum_season
networks                      genres
 10 Play                      Reality                          1
 10 Play, 10 Shake            Sci-Fi & Fantasy, Kids           2
 10 Play, Paramount+          Comedy                           1
                              Documentary                      1
 10 Play, Paramount+, 10 BOLD Documentary                      1
...                                                          ...
채널A                           Family                           1
채널A, Channel A                Documentary, Reality             1
코코믹스                          Animation                        1
큐허브, Fuji TV                  Animation                        1
플래디                           Crime                            1

[25043 rows x 1 columns]

In [ ]:
# на выходе получаем таблицу, которую сложно анализировать
df.pivot_table(index='networks', columns='genres', values='number_of_seasons', aggfunc='sum')

genres,Action & Adventure,"Action & Adventure, Animation","Action & Adventure, Animation, Comedy","Action & Adventure, Animation, Comedy, Crime, Sci-Fi & Fantasy, Kids","Action & Adventure, Animation, Comedy, Drama","Action & Adventure, Animation, Comedy, Drama, Crime","Action & Adventure, Animation, Comedy, Drama, Family, Kids, Sci-Fi & Fantasy","Action & Adventure, Animation, Comedy, Drama, Kids","Action & Adventure, Animation, Comedy, Drama, Kids, Family, Sci-Fi & Fantasy","Action & Adventure, Animation, Comedy, Drama, Mystery",...,"Western, Drama, Mystery","Western, Drama, Soap","Western, Family","Western, Family, Drama, Action & Adventure","Western, Family, Reality","Western, Mystery","Western, Sci-Fi & Fantasy","Western, Sci-Fi & Fantasy, Action & Adventure, Animation","Western, Sci-Fi & Fantasy, Action & Adventure, Drama","Western, Sci-Fi & Fantasy, Comedy"
networks,,,,,,,,,,,,,,,,,,,,,
10 Play,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"10 Play, 10 Shake",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"10 Play, Paramount+",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"10 Play, Paramount+, 10 BOLD",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
#0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
채널A,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"채널A, Channel A",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
코코믹스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"큐허브, Fuji TV",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
플래디,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Подведем итоги. В ходе занятия мы научиличь применять простые и сложные аггргации, а аткже строить сводные таблицы.